.info {
    margin-top: 120px;

    .container {
        width: 100%;
    }
}

.info__heading {
    color: #3D3D3F;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 55px;
}

.info__list {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.info__item {
    max-width: 235px;
    width: 100%;
}


.info__list .info__img {
    @include img;
    background-color: #79E28A;
}

.info__imge {
    @include img;
    background-color: #60DAFF;
}

.info__imgs {
    @include img;
    background-color: #F37168;
}

.info__heading--h3 {
    color: #3D3D3F;
    font-family: "DM Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding: 0;
    padding-top: 23px;
    padding-bottom: 13px;
}

.info__text {
    color: #3D3D3F;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 735px) {

    .info__heading {
        max-width: 490px;
        margin: 0 auto;
    }

    .info__list {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        align-items: center;
        margin-right: 25px;
    }

    .info__item {
        margin-top: 40px;
    }
}